.button {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	font-size: 30px;
	font-family:"Roboto";
	cursor: pointer;
	outline: none;
	background-color: white;
	border: none;
	border-radius: 15px;
	
	width: 20%;
	height: 20%;
	padding-bottom: 5%;
    border-radius: 50%;
    overflow:hidden;
    
    box-shadow: 0 0 3px gray;

    background: #f0f0f0 url(Computer_.png);
    background-position: 80px 50px;
    background-repeat: no-repeat;
}

.ayy {
	margin: 15px;
	margin-left: 175px;

	padding: 15px;
	font-size: 20px;
	text-align: center;
	font-size: 30px;
	font-family:"Roboto";
	cursor: pointer;
	outline: none;
	background-color: white;
	border: none;
	border-radius: 15px;
	
	width: 20%;
	height: 20%;
	padding-bottom: 5%;
    border-radius: 50%;
    overflow:hidden;
    
    box-shadow: 0 0 3px gray;

    background: #f0f0f0 url(Light_Bulb.png);
    background-position: 100px 40px;
    background-repeat: no-repeat;
    background-size: 30%;
}

a {
	text-decoration: none;
}


.button, .ayy span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button:hover, .ayy span:after {
	opacity: 1;
	right: 0;
}

.button:hover, .ayy:hover {
	border: 1px solid gray;
	}

.button:active, .ayy:active {
	
	transform: translateY(4px);
}

.buttontext, .buttontext {
	padding-top: 150px;
	padding-bottom: 0px;
}
