.button {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: green;
	border: none;
	border-radius: 10px;
	box-shadow: 0 5px #999;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.button:hover {
	background-color: #3e8e41;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}